.home-container {
  // flex: 4;
  // padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .homeWidgets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
  }
}
