body.active-modal {
  overflow-y: hidden;
  transition: 0.5s ease;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal {
  z-index: 999;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;

  border-radius: 5px;
  max-width: 600px;
  min-width: 250px;
  max-height: 95vh;
  overflow: auto;

  & .header {
    padding: 14px 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #0d6efd;
    border-radius: 0 0 30px 30px;

    & .modal-title {
      font-size: 22px;
      color: white;
      font-weight: 600;
    }
  }

  .close-modal {
    background-color: inherit;
    border: none;
    cursor: pointer;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {
      color: #0d6efd;
      border: 1px solid white;
      background-color: white;
    }

    & svg {
      font-size: 24px;
    }
  }

  & form {
    display: flex;
    flex-direction: column;
    margin: 14px 28px;

    & .form-group.field {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;

      & .wrapper {
        min-width: 150px;
        max-width: 200px;

        & .input-wrapper {
        }
      }
    }

    .save-changes {
      align-self: center;
      cursor: pointer;
      margin-top: 20px;
      max-width: 200px;
      width: 100%;
      outline: 0;
      font-weight: 400;
      text-align: center;
      border: 1px solid transparent;
      padding: 10px;
      font-size: 16px;
      border-radius: 5px;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      border-color: #0d6efd;
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;

      &:disabled {
        background-color: #d9d3d3;
        cursor: not-allowed;
        border-color: #d9d3d3;

        &:hover {
          background-color: #d9d3d3;
          border-color: #d9d3d3;
          color: #fff;
        }
      }

      &:hover {
        color: #0d6efd;
        background-color: transparent;
        border-color: #0d6efd;
      }
    }
  }
}
