.product-container {
  // flex: 4;
  // padding: 0 20px 20px 20px;

  & .product-box {
    & .back-link-container {
      height: 32px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;

      & .back-link {
        // width: fit-content;

        display: flex;
        align-items: center;
        gap: 5px;
        color: #9c9797;
        font-size: 15px;
        // border-bottom: 1px solid #9c9797;

        &:hover {
          color: #1e54a3ed;
        }

        & svg {
          font-size: 16px;
        }
      }

      & .newProduct {
        margin-right: 5px;
        font-size: 32px;
        display: flex;
        align-items: center;
        // z-index: 2;
        // position: fixed;
        // position: absolute;
        // top: 188px;
        // top: 115.5px;
        // right: 20px;
        border-radius: 5rem;
        background-color: white;
        color: #0d6efd;
        transition: 0.2s ease;
        cursor: pointer;

        &:hover {
          scale: 1.5;
        }
      }
    }
  }

  & .product-box {
    & .back-link {
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #9c9797;
      font-size: 15px;
      // border-bottom: 1px solid #9c9797;

      &:hover {
        color: #1e54a3ed;
      }

      & svg {
        font-size: 16px;
      }
    }
  }

  & .product-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4e80cbed;
  }

  .product-edit-bar {
    display: flex;
    position: sticky;
    z-index: 2;
    top: 70px;
    background-color: white;
    // justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin-bottom: 20px;

    & a {
      padding: 5px;
      border-bottom: 2px solid white;
      cursor: pointer;
      color: #9c9797;

      &:hover {
        border-bottom: 2px solid #0d6efd;
        color: #0d6efd;
      }
    }
  }

  .product-box {
  }
}
