.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: white;
  position: sticky;
  top: 50px;
  overflow: auto;
  border-right: 1px solid #c7e4fb;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;

  .sidebarWrapper {
    padding: 20px;
    color: #555;

    .sidebarMenu {
      margin-bottom: 10px;

      .sidebarTitle {
        font-size: 16px;
        color: rgb(187, 186, 186);
      }

      .sidebarList {
        list-style: none;
        padding: 5px;

        .sidebarListItem {
          padding: 5px;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-radius: 10px;

          .sidebarIcon {
            margin-right: 5px;
            font-size: 20px !important;
          }
        }

        .sidebarListItem.active,
        .sidebarListItem:hover {
          background-color: #eff8ff;
          // border-bottom: 1px solid red;
        }
      }

      .logoutBtn {
        background-color: darkblue;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 24px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.5s;

        &:hover {
          background-color: rgb(89, 89, 143);
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .sidebar-mobile {
    position: fixed;
    max-width: 300px;
    width: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: ease 0.3s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.active {
      transform: translateX(0);
    }
  }
}
