.sidebar {
  padding-top: 20px;
  flex: 1;
  height: calc(100vh - 70px);
  background-color: white;
  position: sticky;
  top: 70px;
  overflow: auto;

  border-right: 1px solid #c7e4fb;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #d0e3ff;


  .sidebarWrapper {
    // padding: 20px;
    color: #555;

    .sidebarMenu {
      margin-bottom: 10px;

      & .button-wrapper{
        padding: 0 20px;
      }

      .sidebarTitle {
        font-size: 18px;
        color: #4747ce;;
        padding: 0 20px;
      }

      .sidebarList {
        list-style: none;
        padding: 5px 20px 5px 0;
        display: flex;
        flex-direction: column;
        gap:5px;

        .sidebarListItem {
          max-width: 200px;
          width: 100%;
          padding: 5px 20px;
          cursor: pointer;
          display: flex;
          align-items: center;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;

          .sidebarIcon {
            margin-right: 5px;
            font-size: 20px !important;
          }
        }

        .sidebarListItem.active,
        .sidebarListItem:hover {
          background-color: #80b2fc;
          color: white;
        }
      }


    }
  }
}

@media (max-width: 900px) {
  .sidebar-mobile {
    position: fixed;
    max-width: 300px;
    width: 100%;
    z-index: 1;
    transform: translateX(-100%);
    transition: ease 0.3s;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &.active {
      transform: translateX(0);
    }
  }
}
