.userUpdate {
  //   padding: 20px;
  //   -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  //   box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  .form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

    // form
    form {
      & .form-group.field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        & .wrapper {
          width: 100%;
          position: relative;

          & .error-message {
            color: red;
            // position: absolute;
            // right: 0;
            background: white;
            opacity: 0.9;
            // display: none;
          }

          & label {
            color: gray;
            font-weight: 600;
          }

          // react tel input
          & .react-tel-input {
            & .form-control {
              width: 100%;
              font-size: 16px;
              line-height: normal;
              height: auto;
              padding-top: 10px;
              padding-bottom: 10px;
              color: darkblue;

              &:focus {
                outline: none;
                border: 1px solid #0d6efded;
              }
            }

            & .flag-dropdown {
              font-size: 20px;
              background-color: inherit;
              border-bottom: none;
              border-top: none;
              border-left: none;
              border-right: 1px solid #cacaca;
              border-radius: 5px 0 0 5px;

              &:hover {
                border-right: 1px solid #0d6efded;
                border-bottom: 1px solid #0d6efded;
                border-top: 1px solid #0d6efded;
                border-left: 1px solid #0d6efded;
              }
            }

            .country {
              font-size: 16px;
            }
          }

          // react tel input

          & input.form-field {
            margin-top: 5px;
            width: 100%;
            padding: 10px 5px;
            font-size: 16px;
            border: 1px solid #d5cece;
            border-radius: 5px;
            color: darkblue;

            &.error {
              border: 1px solid red;

              &:focus {
                outline: none;
                border: 1px solid red;
              }
            }

            &:focus {
              outline: none;
              border: 1px solid #0d6efded;
            }

            &::placeholder {
              color: #d5cece;
            }
          }
        }
      }

      .save-changes {
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        outline: 0;
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        border: 1px solid transparent;
        padding: 6px 12px;
        font-size: 1rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-color: #0d6efd;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;

        &:disabled {
          background-color: #d9d3d3;
          cursor: not-allowed;
          border-color: #d9d3d3;

          &:hover {
            background-color: #d9d3d3;
            border-color: #d9d3d3;
            color: #fff;
          }
        }

        &:hover {
          color: #0d6efd;
          background-color: transparent;
          border-color: #0d6efd;
        }
      }
    }

    // form action
    .form-action {
      //   flex: 2;

      & .profile-picture {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .img-container {
          position: relative;
          line-height: 0;
          border-radius: 50%;

          & .editIcon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
            cursor: pointer;

            &:hover {
              background: gray;
            }

            & svg {
              font-size: 16px;
              color: white;
            }
          }
        }

        & .userUpdateImg {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
