.userUpdate {
  .form-container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    // form
    form {
      & .form-group.field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }

      .save-changes {
        cursor: pointer;
        margin-top: 30px;
        width: 100%;
        outline: 0;
        font-weight: 400;
        text-align: center;
        border: 1px solid transparent;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
          border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        border-color: #0d6efd;
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;

        &:disabled {
          background-color: #d9d3d3;
          cursor: not-allowed;
          border-color: #d9d3d3;

          &:hover {
            background-color: #d9d3d3;
            border-color: #d9d3d3;
            color: #fff;
          }
        }

        &:hover {
          color: #0d6efd;
          background-color: transparent;
          border-color: #0d6efd;
        }
      }
    }

    // form action
    .form-action {
      //   flex: 2;

      & .profile-picture {
        display: flex;
        flex-direction: column;
        align-items: center;

        & .img-container {
          position: relative;
          line-height: 0;
          border-radius: 50%;

          & .editIcon-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            background-color: black;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            right: 0;
            cursor: pointer;

            &:hover {
              background: gray;
            }

            & svg {
              font-size: 16px;
              color: white;
            }
          }
        }

        & .userUpdateImg {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
