html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

.colors {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 5px;
  // width: 100px;


  .color {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    // background-color: blue;
    cursor: pointer;
    border: gray 1px solid;

  }
  .active{
    border: solid 2px #024e82;
    height: 20px;
    width: 20px;
  }

  .color-tag{
    position: absolute;
  }

 }

 .colors.product{
  .color-tag{
    bottom: 15px;
    left:0;
  }
 }
 .colors.cart{
  .color-tag{
    top: 25px;
    right:0;
  }
 }

 // alerts
 .alerts{
  margin:10px 0;
 }
  